<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="MOUNTAINS">
    <resultMap id="MOUNTAINS" type="com.web.pojo.record.MountainsRecord">
        <result property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="altitude" column="altitude"/>
        <result property="url" column="url"/>
        <result property="info" column="info"/>
    </resultMap>




    <select id="SELECT_SOME" parameterType="java.lang.Long" resultMap="MOUNTAINS">
      select *
      from mountains
      order by rand() LIMIT 3

    </select>


</mapper>