<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="USER">
    <resultMap id="USER" type="com.web.pojo.record.UserRecord">
        <result property="id" column="id"/>
        <result property="age" column="age"/>
        <result property="expert" column="expert"/>
        <result property="num" column="num"/>
        <result property="gmt" column="gmt"/>
        <result property="ip" column="ip"/>
        <result property="tab" column="tab"/>
    </resultMap>

    <update id="CREATE" parameterType="com.web.pojo.record.UserRecord">
        INSERT INTO user(id, age, expert, num, ip)
        VALUES(#{id}, #{age}, #{expert}, #{num}, #{ip})
    </update>
    <update id="GUESS" parameterType="com.web.pojo.record.UserRecord">
        UPDATE user
        SET tab=#{tab}
        WHERE ip = #{ip}
    </update>

</mapper>